.footer-container {
    background: #F72D57;
    width: 100%;
    margin: 132px 0px 0px 0px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 180px;
    align-items: center;
    padding: 42px 100px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: auto;
    padding-right: auto;
}

.all-servicies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.title-social-link-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.website-name {
    color: #FFF;
    font-family: Praise;
    font-size: 48px;
    white-space: nowrap;
}

.social-links-container {
    color: #fff;
    font-size: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.service-container {
    color: #FFF;
    font-family: "Netflix Sans";
    font-size: 13px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.small-device-social-links {
    display: none;
}



@media screen and (min-width:375px) and (max-width:1023px) {
    .social-links-container {
        display: none;
    }

    .container {
        flex-direction: column;
        gap: 0px;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 30px;
        padding-bottom: 52px;
    }

    .website-name {
        text-align: center;
        padding-bottom: 52px;
    }

    .all-servicies-container {

        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 40px;
    }

    .small-device-social-links {
        color: #fff;
        font-size: 24px;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        padding-top: 91px;
        padding-bottom: 60px;

    }

}

@media screen and (min-width:1024px) and (max-width:1300px) {
    .title-social-link-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: 50px;
        white-space: nowrap;
    }

    .small-device-social-links {
        display: none;
    }
}

@media screen and (min-width:1300px) {
    .small-device-social-links {
        display: none;
    }
}